.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading {
  font-size: 2rem;
}

.weather-icon {
  width: 100%;
  height: 100%;
}

.row {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  gap: 1rem;
}

.card {
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.2rem;
  color: black;
  gap: 2rem;
  padding: 1rem;
}
.card-label {
  font-size: 2rem;
  border-bottom: 1px solid;
}

.card-content {
  font-size: 2rem;
}
.sidebar {
  border-right: 1px solid white;
}
.main-content {
  overflow: hidden;
  height: calc(100vh - 5rem);
}

.search-container {
  position: relative;
  width: 200px
}

.search-field {
  box-sizing: border-box;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  width: 200px;
}

.search-result-container {
  box-sizing: border-box;
  position: absolute;
  background: white;
  width: 200px;
  height: max-content;
  color: black;
  text-align: start;
  padding: 0 1rem;
  font-size: 1rem;
  transform: translateY(-3px);
  border-top: 1px solid grey;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.search-value {
  cursor: pointer;
  padding: 1rem;
  flex: 0 0 100%;
  width: 100%;
  height: 4rem;
}
.search-value:nth-child(odd) {
  background: #EEEEEE;
}
.search-value:nth-child(even) {
  background: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 5rem);
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
}
@media screen and (max-width: 1000px) {
  .row {
    width: 30rem;
  }
}

@media screen and (max-width: 800px) {
  .main-section {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    height: unset;
    border-right: none;
    border-bottom: 1px solid white;
  }
  .row {
    width: 25rem;
  }
  .main-section {
    overflow: unset;
    height: unset;
  }
  .container {
    height: unset;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 2rem;
    padding-bottom: 1rem;
    height: unset;
    flex-direction: column;
    gap: 1rem;
  }
  .main-section {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    border-right: none;
    border-bottom: 1px solid white;
  }
  .row {
    width: 12rem;
  }
  .card{
    max-width: 4rem;
  }
  .card-content{
    font-size: 1.2rem;
  }
  .card-label {
    font-size: 1.2rem;
  }
  .main-section {
    overflow: unset;
    height: unset;
  }
}
/* Loader */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5rem);
  width: 100%;
}
.lds-spinner {
  /*color: official;*/
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
